@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --white: #fff;
    --black: #101828;
  }

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
    width: 1440px;
    color: var(--black);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.logo{
    display: flex;
    align-items: center;
}

img{
    padding-right: 3px;
}

nav a{
    color: var(--text-color);
    text-decoration: none;
    padding-left: 20px;
    font-size: 16px;
}

button{
    font-size: 16px;
    padding: 1rem 2rem;
    border: none;
}

.botao-entrar{
    color: var(--text-color);
    background-color: var(--white);
}

.botao-cadastrar{
    cursor: pointer;
    color: var(--white);
    background-color: var(--main-color);
    border-radius: 0.5rem;
}

.cabecalho {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 324px;
}

.subtitulo-cabecalho {
    color: var(--main-color);
    margin-bottom: 2rem;
    margin-top: 6rem;
    font-weight: 500;
    font-size: 16px;
}

.titulo-cabecalho{
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 48px;
}

.paragrafo-cabecalho{
    color: var(--text-color);
    width: 791px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8rem;
}

/* métricas */

.metricas-container{
    display: flex;
    justify-content: space-between;
    padding: 0 0 96px 0;
    height: 72px;
    margin-bottom: 10rem;
}

.projetos, .colaboradores, .downloads, .review{
    width: 280px;
}

.projetos {
    margin-left: 112px;
}

.review{
    margin-right: 112px;
}

.titulo-metricas{
    color: var(--main-color);
    font-size: 60px;
    padding-bottom: 1rem;
}

.subtitulo-metricas{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 1rem;
}

.texto-metricas{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
}

/* vagas*/

.vagas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitulo-vagas{
    color: var(--main-color);
    background-color: rgba(142, 36, 36, 0.05);
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 16px;
    margin-bottom: 1rem;
    font-weight: 400;
}

.titulo-vagas{
    font-size: 36px;
    margin-bottom: 1rem;
    font-weight: 500;
}

.texto-vagas{
    color: var(--text-color);
    margin-bottom: 1rem;
}

.foto-vagas{
    margin-bottom: 2rem;
    width: 1216px;
    height: auto;
}