@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --white: #fff;
    --black: #101828;
    --cinza-borda: #EAECF0;
  }

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
    width: 1440px;
    color: var(--black);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img-logo{
    padding-right: 10px;
}

.esquerda {
    display: flex;
    align-items: center;
}

nav {
    margin-left: 5px;
}

nav a{
    color: var(--text-color);
    text-decoration: none;
    padding-left: 20px;
    font-size: 16px;
}

button{
    font-size: 16px;
    padding: 1rem 2rem;
    border: none;
}

.botao-entrar{
    color: var(--text-color);
    background-color: var(--white);
}

.botao-cadastrar{
    cursor: pointer;
    color: var(--white);
    background-color: var(--main-color);
    border-radius: 0.5rem;
}

.cabecalho {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 324px;
}

.subtitulo-cabecalho {
    color: var(--main-color);
    margin-bottom: 2rem;
    margin-top: 6rem;
    font-weight: 500;
    font-size: 16px;
}

.titulo-cabecalho{
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 48px;
}

.paragrafo-cabecalho{
    color: var(--text-color);
    width: 791px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8rem;
}

/* métricas */

.metricas-container{
    display: flex;
    justify-content: space-between;
    padding: 0 0 96px 0;
    height: 72px;
    margin-bottom: 10rem;
}

.projetos, .colaboradores, .downloads, .review{
    width: 280px;
}

.projetos {
    margin-left: 112px;
}

.review{
    margin-right: 112px;
}

.titulo-metricas{
    color: var(--main-color);
    font-size: 60px;
    padding-bottom: 1rem;
}

.subtitulo-metricas{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 1rem;
}

.texto-metricas{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
}

/* vagas*/

.vagas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitulo-vagas{
    color: var(--main-color);
    background-color: rgba(142, 36, 36, 0.05);
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 16px;
    margin-bottom: 1rem;
    font-weight: 400;
}

.titulo-vagas{
    font-size: 36px;
    margin-bottom: 1rem;
    font-weight: 500;
}

.texto-vagas{
    color: var(--text-color);
    margin-bottom: 3rem;
}

.foto-vagas{
    width: 1216px;
    height: auto;
}

/*vagas abertas*/

.vagas-abertas{
    display: flex;
    flex-direction: column;
    margin: 5rem 336px;
    font-size: 20px;
}

.cargo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--cinza-borda);
    padding-left: 2rem;
    border-radius: 16px;
    margin-bottom: 1.5rem;
    width: 768px;
    height: 136px;
}

.area-vaga{
    margin-top: 2rem;
    margin-bottom: 1rem;
}


.vagas-cargo{
    font-size: 18px;
    padding-bottom: 1rem;
}

.info-cargo{
    display: flex;
    justify-content: stretch;
    font-size: 16px;
    color: var(--text-color);
}

.texto-cargo{
    margin-right: 2rem;
}

/* depoimentos */

.depoimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: 
    rgba(195, 25, 25, 0.03);
    width: 1216px;
    margin-left: 112px;
    padding: 50px 0px;
    border-radius: 16px;
    margin-bottom: 10rem;
}

.subtitulo-depoimento{
    font-size: 14px;
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: 2rem;
}

.texto-depoimento {
    font-size: 36px;
    text-align: center;
    margin-bottom: 2.5rem;
}

#avatar-depoimento{
    margin-bottom: 1rem;
}

.nome-depoimento{
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.cargo-depoimento{
    color: var(--text-color);
    font-size: 14px;
}

/* Rodapé */

footer{
    text-align: center;
    background-color: #F9FAFB;
    padding: 96px 0px 96px 0px;
}

.subtitulo-rodape{
    margin-bottom: 2rem;
    font-size: 36px;
    font-weight: 500;
}

.texto-rodape{
    margin-bottom: 2rem;
    color: var(--text-color);
    font-size: 20px;
    font-weight: lighter;
}

#input-email{
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rgba(208, 213, 221, 1);
    width: 360px;
    height: 48px;
    padding: 0px 14px 0px 16px;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.copyright-rodape{
    font-size: 16px;
    margin-bottom: 2rem;
    color: #98A2B3;
}



